<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>newRealCustomerServlet</servlet-name>
        <servlet-class>controller.CreateNewRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newRealCustomerServlet</servlet-name>
        <url-pattern>/new-real-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newLegalCustomerServlet</servlet-name>
        <servlet-class>controller.CreateNewLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newLegalCustomerServlet</servlet-name>
        <url-pattern>/new-legal-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>findCustomersServlet</servlet-name>
        <servlet-class>controller.FindCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findCustomersServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeCustomerServlet</servlet-name>
        <servlet-class>controller.RemoveCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeCustomerServlet</servlet-name>
        <url-pattern>/remove-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showCustomerServlet</servlet-name>
        <servlet-class>controller.ShowCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showCustomerServlet</servlet-name>
        <url-pattern>/show-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateCustomerServlet</servlet-name>
        <servlet-class>controller.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCustomerServlet</servlet-name>
        <url-pattern>/update-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newLoanServlet</servlet-name>
        <servlet-class>controller.CreateNewLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newLoanServlet</servlet-name>
        <url-pattern>/create-new-Loan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getLoanInfoServlet</servlet-name>
        <servlet-class>controller.GetLoanInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getLoanInfoServlet</servlet-name>
        <url-pattern>/get-new-Loan-info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getRealCustomerServlet</servlet-name>
        <servlet-class>controller.GetRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getRealCustomerServlet</servlet-name>
        <url-pattern>/get-real-customer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkVerificationServlet</servlet-name>
        <servlet-class>controller.CheckVerifyGrantConditionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkVerificationServlet</servlet-name>
        <url-pattern>/check-verification</url-pattern>
    </servlet-mapping>
</web-app>